// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

input[type='number']{
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
}
.text-align-center{
    text-align: center !important;
}
.alterado{
    border-color: rgb(243, 233, 95);
}